body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    line-height: 150%;
    background-color: white;
 font-size: 16px;
}

p {
    color: #434455;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
.navigation-btn .nav-btn{
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;       

}
.navigation-btn .webstudio-btn {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
}

.navigation-btn .web-btn {
    color: #4d5ae5
}
.address .contacts {
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
}
.hero {
    background-color: #2e2f42;
}

.hero .hero-btn {
    font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
}
.main-title {
    font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
}
.about .title-about {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team {
    background-color: #f4f4fd
}
.team .team-title {
        font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team .team-name {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team .team-dscr {
    font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio .portfolio-name {
    font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.footer {
    background-color: #2e2f42;
}
.footer .webstudio-btn {
    font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
}
.footer .web-btn {
    color: #4d5ae5
}
.footer .footer-dscr {
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}